<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="mil.nga.giat.asam"
      android:versionCode="4"
      android:versionName="1.0.1">
      
    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="21"/>
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>

    <application 
        android:name="Asam" 
        android:icon="@drawable/ic_launcher_pirate" 
        android:label="@string/app_name" 
        android:allowBackup="true"
        android:largeHeap="true">
    
        <uses-library android:name="com.google.android.maps" />
        
        <activity android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>

        <activity android:name=".DisclaimerActivity"
            android:label="@string/disclaimer_title_text"
            android:theme="@style/asam_theme"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        
        <activity android:name=".InfoActivity"
            android:label="@string/info_title_text"
            android:theme="@style/asam_theme"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity android:name=".map.AsamMapActivity"
            android:label="@string/asam_map_label"
            android:theme="@style/asam_theme"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        
        <activity android:name=".AsamListActivity"
            android:label="@string/asam_list_title_text"
            android:theme="@style/asam_theme">
        </activity>

        <activity android:name=".filter.FilterActivity"
            android:label="@string/asam_search_label"
            android:theme="@style/asam_theme_search"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity android:name="mil.nga.giat.asam.map.SubregionMapActivity"
            android:label="@string/subregion_map_title_text"
            android:theme="@style/asam_theme"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        
        <activity android:name=".filter.FilterAdvancedActivity"
            android:label="@string/text_query_title_text"
            android:theme="@style/asam_theme"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        
        <activity android:name=".PreferencesActivity"
            android:label="@string/preferences_title_text"
            android:theme="@style/asam_theme"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        
        <activity android:name=".AsamReportActivity"
            android:label="@string/asam_report_title_text"
            android:theme="@style/asam_theme"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        
        <activity android:name="mil.nga.giat.asam.map.SingleAsamMapActivity"
            android:label="@string/app_name"
            android:theme="@style/asam_theme"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        
        <activity android:name=".LegalActivity"
            android:label="@string/legal_title_text"
            android:theme="@style/asam_theme"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        
        <activity android:name=".LegalTabletActivity"
            android:label="@string/legal_title_text"
            android:theme="@style/asam_theme"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        
        <activity android:name=".LegalDetailsActivity"
            android:label="@string/legal_details_title_text"
            android:theme="@style/asam_theme"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        
        <activity android:name=".OpenSourceDetailsActivity"
            android:label="@string/legal_fragment_nga_open_source_licenses_label_text"
            android:theme="@style/asam_theme"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        
        <receiver android:name="mil.nga.giat.asam.connectivity.NetworkChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        
        <meta-data android:name="web_service_url" android:value="http://msi.nga.mil/MSI_JWS/ASAM_JSON/getJSON?typename=DateRange_AllRefNumbers&amp;fromDate=%s&amp;toDate=%s" />
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/GOOGLE_MAPS_ANDROID_API_KEY" />

    </application>
    
</manifest>
