<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="mil.nga.giat.asam"
      android:versionCode="4"
      android:versionName="1.0.1">
      
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="24"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>

    <application 
        android:name="Asam" 
        android:icon="@drawable/ic_asam_icon"
        android:label="@string/app_name" 
        android:allowBackup="true"
        android:largeHeap="true">
    
        <uses-library android:name="com.google.android.maps" />
        
        <activity android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>

        <activity android:name=".DisclaimerActivity"
            android:label="@string/disclaimer_title_text"
            android:theme="@style/asam_theme">
        </activity>

        <activity android:name=".settings.disclaimer.DisclaimerActivity"
            android:label="@string/disclaimer_title_text"
            android:theme="@style/asam_theme">
        </activity>

        <activity android:name=".settings.privacy.PrivacyActivity"
            android:label="@string/legal_fragment_nga_privacy_policy_label_text"
            android:theme="@style/asam_theme">
        </activity>

        <activity android:name=".settings.opensource.OpenSourceActivity"
            android:label="@string/legal_fragment_nga_open_source_licenses_label_text"
            android:theme="@style/asam_theme">
        </activity>
        
        <activity android:name=".settings.SettingsActivity"
            android:label="@string/info_title_text"
            android:theme="@style/asam_theme">
        </activity>

        <activity android:name=".settings.about.AboutActivity"
            android:label="@string/all_asams_about_title_text"
            android:theme="@style/asam_theme">
        </activity>

        <activity android:name=".settings.report.ReportActivity"
            android:label="@string/all_asams_report_title_text"
            android:theme="@style/asam_theme">
        </activity>

        <activity android:name=".map.AsamMapActivity"
            android:label="@string/asam_map_label"
            android:theme="@style/asam_theme"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        
        <activity android:name=".AsamListActivity"
            android:label="@string/asam_list_title_text"
            android:theme="@style/asam_theme">
        </activity>

        <activity android:name=".filter.FilterActivity"
            android:label="@string/filter_label"
            android:theme="@style/asam_theme"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>


        <activity android:name=".map.SubregionMapActivity"
            android:label="@string/subregion_map_title_text"
            android:theme="@style/asam_theme"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <provider
            android:name=".model.SubregionIdProvider"
            android:authorities="mil.nga.giat.asam.model.SubregionIdProvider"
            android:enabled="true"
            android:exported="true"/>

        <activity android:name=".AsamReportActivity"
            android:label="@string/asam_report_title_text"
            android:theme="@style/asam_theme"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <meta-data android:name="web_service_url" android:value="http://msi.nga.mil/MSI_JWS/ASAM_JSON/getJSON?typename=DateRange_AllRefNumbers&amp;fromDate=%s&amp;toDate=%s" />
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/GOOGLE_MAPS_ANDROID_API_KEY" />

    </application>
    
</manifest>
